.center-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.graph-loading-circle {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 0.25rem solid transparent;
  border-bottom-color: var(--accent-500);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}