@import "tailwindcss";

body {
--text-50: #f0f0f5;
--text-100: #e2e0eb;
--text-200: #c5c2d6;
--text-300: #a8a3c2;
--text-400: #8b85ad;
--text-500: #6e6699;
--text-600: #58527a;
--text-700: #423d5c;
--text-800: #2c293d;
--text-900: #16141f;
--text-950: #0b0a0f;

--background-50: #eeedf7;
--background-100: #dddcef;
--background-200: #bcb9df;
--background-300: #9a95d0;
--background-400: #7972c0;
--background-500: #574fb0;
--background-600: #463f8d;
--background-700: #342f6a;
--background-800: #232046;
--background-900: #111023;
--background-950: #090812;

--primary-50: #efeef7;
--primary-100: #dfdcef;
--primary-200: #bfb9df;
--primary-300: #a096cf;
--primary-400: #8073bf;
--primary-500: #6050af;
--primary-600: #4d408c;
--primary-700: #3a3069;
--primary-800: #262046;
--primary-900: #131023;
--primary-950: #0a0811;

--secondary-50: #efeef7;
--secondary-100: #dfdcef;
--secondary-200: #bfb9df;
--secondary-300: #9f96cf;
--secondary-400: #7f73bf;
--secondary-500: #5e50af;
--secondary-600: #4c408c;
--secondary-700: #393069;
--secondary-800: #262046;
--secondary-900: #131023;
--secondary-950: #090811;

--accent-50: #ebe8fd;
--accent-100: #d7d1fa;
--accent-200: #afa2f6;
--accent-300: #8774f1;
--accent-400: #5e45ed;
--accent-500: #3617e8;
--accent-600: #2b12ba;
--accent-700: #210e8b;
--accent-800: #16095d;
--accent-900: #0b052e;
--accent-950: #050217;
}

